
*{
	margin: 0;
	padding: 0;
}
body{
	max-width:  1920px;
	margin: 0 auto;
}
header{
	background: url(../img/first-screen.png);
	background-size: cover;

}
.wrapper{
	max-width: 1110px;
	margin: 0 auto;
}
.nav{
	padding-top: 26px;
	display: flex;
	justify-content: space-between;
}
ul{
	display: none;

	text-decoration: nonne;

}
li{
	list-style: none;

}
a{
	color: white;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
.nav_btn{
	border-style: none;
	background: transparent;
}
.header_middle{
	margin-top: 123px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
h1{
	color: white;
	font-family: Oswald;
	font-style: normal;
	font-weight: 500;
	font-size: 64px;
	line-height: 95px;
	text-align: center;
	letter-spacing: 0.02em;
	max-width: 734px;
}
.header_middle_p{
	font-family: Oswald;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 27px;
	max-width: 734px;
	color: white;
	text-align: center;
	margin-top: 36px;
}
.header_botton{
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	background: #F7F7F7;
	transform: translateY(50%);
}
.header_botton_sub{
	width: 190px;
}
.header_botton_sub_p1{
	font-family: Oswald;
	font-style: normal;
	font-weight: 500;
	font-size: 72px;
	line-height: 107px;
	text-align: center;
	color: #F7654A;
}
.header_botton_sub_p2{
	font-family: Oswald;
	font-style: normal;
	font-weight: 500;
	font-size: 36px;
	line-height: 53px;
	text-align: center;

}
.header_botton_sub_p3{
	font-family: Oswald;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 27px;
	text-align: center;
	color: #999999;
	padding-bottom: 57px;
	}
.blockh2{
	margin-top: 250px;
	display: flex;
	justify-content: center;
}
h2{
	font-family: Oswald;
	font-style: normal;
	font-weight: 500;
	font-size: 36px;
	line-height: 53px;
	text-align: center;
	color: #404149;
	}
.block1{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.block1_sub + .block1_sub{
	margin-left: 30px;
}
.block1__img{
	display: block;
	margin-top: 60px;
}
.block1_sub_img2{
	margin-top: 57px;
	margin-bottom: 15px;
}
.block1_sub_p1{
	font-family: Oswald;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 36px;
	color: #404149;
	margin-bottom: 20px;
}
.block1_sub_p2{
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
	color: #999999;
	width: 350px;
}
.block2{
	background-color: #F7654A;
}
.block2_sub{
	display: flex;
	justify-content: space-between;
	padding-top: 45px;
	padding-bottom: 45px;
	margin-top: 125px;
}
.block2_sub_text{
	
}
.block2_sub_text_h3{
	font-family: Oswald;
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	line-height: 71px;
	letter-spacing: 0.02em;
	color: #FFFFFF;
}
.block2_sub_text_p{
	font-family: Oswald;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 36px;
	letter-spacing: 0.02em;
	color: #FFFFFF;
}
.block2__block_btn{
	display: flex;
	align-items: center;
	max-height: 100%; 
}
.block2_sub_btn{
	width: 175px;
	height: 49px;
	border: 0;
	background-color: white;
}
.block3 h4{
	font-family: Oswald;
	font-style: normal;
	font-weight: 500;
	font-size: 36px;
	line-height: 53px;
	text-transform: uppercase;
	color: #000000;
	text-align: center;
	margin-bottom: 66px;
	margin-top: 150px;
}


.block4{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

}
.block4_sub{
	width: 350px;
	height: 250px;
	background: #F7F7F7;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.block4_sub + .block4_sub{
	margin-bottom: 25px;
}
.block4_sub_img{}
.block4_sub_p{
	font-family: Oswald;
	font-style: normal;
	font-weight: 500;
	font-size: 21px;
	line-height: 31px;
	letter-spacing: 0.02em;
	color: #000000;
	width: 172px;
	text-align: center;
	margin-top: 30px;
}
.block5{
	display: flex;
	justify-content: center;
  	flex-wrap: wrap;
}
.block5 img{
	border: 0;
}
.block6{
	padding-bottom: 150px;
}
.block6_h5{
	text-align: center;
	font-family: Oswald;
	font-style: normal;
	font-weight: 500;
	font-size: 36px;
	line-height: 53px;
	text-transform: uppercase;
	color: #000000;
	margin-top: 150px;
}
.block6_sub_h5{
	font-family: Oswald;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 36px;
	color: #F7654A;
	margin-top: 40px;
}
.block6_sub_p{
	display: none;
	max-width: 730px;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
	color: #999999;
	margin-top: 30px;
}
.block6_sub_pnone{
	max-width: 730px;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
	color: #999999;
	margin-top: 30px;
}
.block7{
	background-color: #404149;
}
.block7_sub h5{
	font-family: Oswald;
	font-style: normal;
	font-weight: 500;
	font-size: 36px;
	line-height: 53px;
	color: white;
	text-align: center;
	padding-top: 115px;
	margin-bottom: 60px;
}
.block7_sub2{
	display: flex;
	justify-content: center;
	padding-bottom: 100px;
	flex-wrap: wrap;
}
.block7_sub2_img + .block7_sub2_img{
	margin-left: 64px;
}
.blokc8_h5{
	text-align: center;
	font-family: Oswald;
	font-style: normal;
	font-weight: 500;
	font-size: 36px;
	line-height: 53px;
	margin-top: 150px;
	margin-bottom: 64px;
}
.blokc8{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.blokc8_sub{

}
.blokc8_sub_backgrount{
	background: #F7F7F7;
	width: 350px;
}
.blokc8_sub_backgrount_p{
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 21px;
	color: #999999;
	width: 290px;
	margin: 0 auto;
	position: relative;
	padding-top: 79px;
}
.blokc8_sub_backgrount_p span{
	font-family: Oswald;
	font-style: normal;
	font-weight: bold;
	font-size: 96px;
	text-transform: uppercase;
	color: #F7654A;
	margin-top: 20px;
	position: absolute;
	top: 0px;
}
.blokc8_sub_p{
	font-family: Oswald;
	font-style: normal;
	font-weight: 500;
	font-size: 21px;
	line-height: 31px;
	letter-spacing: 0.02em;
	color: #000000;
	margin-bottom: 150px;
	margin-top: 75px;
}
.blokc8_sub_span{
	font-family: Oswald;
	font-style: normal;
	font-weight: 500;
	font-size: 21px;
	line-height: 31px;
	letter-spacing: 0.02em;
	color: #F7654A;
}
.block10{
background: #F7654A;
}
.block10_sub{
	display: flex;
	justify-content: space-between;
}
.block10_sub1_h5{
	font-family: Oswald;
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	line-height: 71px;
	letter-spacing: 0.02em;
	color: #FFFFFF;	
	padding-top: 48px;
}
.block10_sub1_p{
	font-family: Oswald;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 36px;
	letter-spacing: 0.02em;
	color: #FFFFFF;
	padding-bottom: 45px;
}
.block10_sub2{
	max-height: 100%;
	display: flex;
	align-items: center;
}
.block10_sub_btn{
	height: 49px;
	width: 175px;
	border: 0px;
	background-color: white;
	vertical-align: center;
}
.block10_sub_btn img{
	margin-right: 15px;
	transition: t
}

.block11{

}
.block11_h6{
	text-align: center;
	font-family: Oswald;
	font-style: normal;
	font-weight: 500;
	font-size: 36px;
	line-height: 53px;
	color: #000000;
	margin-top: 85px;
}
.block11_sub{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 161px;
	margin-top: 60px;
}
.block11_sub_n{
text-align: center;
width: 255px;
}
.block11_sub_n_img{
	margin-bottom: 22px;
	margin-top: 25px;
}
.block11_sub_n_img_last{
	 margin-bottom: 30px;
	 margin-top: 25px;
}
.block11_sub_n_p{
	margin-bottom: 34px;
	font-family: Oswald;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 36px;
	text-align: center;
	color: #999999;
}
.block11_sub_n_p1{
	font-family: Oswald;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 36px;
	color: #000000;
}
.block11_sub_n_p_last{
	font-family: Oswald;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 36px;
	text-align: center;
	color: #F7654A;
}
.block12{
	background: #404149;
}
.block12 p{
	color: white;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
	padding: 30px 0px;
}
.block12_sub{
	display: flex;
	justify-content: space-between;
}





