@media (max-width: 1156px){
	.header_background{
		padding-left: 15px;
		padding-right: 15px;
	}
}
@media (max-width: 1100px){
	.header__title{
		padding-left: 15px;
		padding-right: 15px;
	}
}
@media (max-width: 1035px){
	.main__items{
		justify-content: center;
	}
}
@media (max-width: 941px){
	.gallery__block{
		background-image: none;
	}
}
@media (max-width: 923px){
	.header__top__tittle{
		display: none;
	}
	.reviews__carousel {
		padding-left: 50px;
		padding-right: 50px;
	}
	.footer_item:first-child{
		background-position: 310px 41px;
	}
}
@media (max-width: 849px){
	.header__nav_li + .header__nav_li {
    margin-left: 35px;
	}
	h1{
		font-size: 40px;
	}
	.header__title_p{
		font-size: 20px;
	}
	.header__btn{
		padding-bottom: 150px;
	}
	h2{
		margin-top: 80px;
		margin-bottom: 40px;
		font-size: 25px;
	}
	.price__h4, .gallery__h3, .reviews__h4{
		font-size: 25px;
	}
	.footer_item:first-child h5{
		font-size: 25px;
	}
	.footer_item:last-child h5{
		font-size: 25px;
	}
	.main__title_p{
		font-size: 18px;
	}
	.gallery__content{
		padding-top: 0;
	}
	.reviews__h4{
		padding-top: 60px;
	}
}
@media (max-width: 846px){
	.reviews__carousel{
		padding-left: 20px;
    	padding-right: 20px;
	}
	.reviews{
		padding-bottom: 60px;
	}
	.footer_input, textarea{
		width: 350px;
	}
	.footer_item:first-child {
    background-position: 210px 41px;
	}
	.header_logoImg{}
}
@media (max-width: 761px){
	.foter__right{
		padding-left: 15px;
	}
	.adaptiv{
		padding-left: 35px;
		padding-right: 35px;
	}
	.footer_input{
		height: 35px;
	}
	.footer_item:first-child h5{
		font-size: 20px;
		margin-bottom: 30px;
	}
	.footer_item:last-child h5{
		font-size: 20px;
		margin-bottom: 30px;
	}
	textarea {
		height: 120px;
	}
	label{
		font-size: 13px;
	}
	label:before{
		height: 10px;
		width: 10px;
	}
	.footer__h6{
		font-size: 13px;
	}
	.slider .slick-dots{
		margin-top: 30px;
	}
}
@media (max-width: 739px){
	.header__nav_ul a{
		font-size: 13px;
	}
	.header__top__contacs_phone, .header__top__contacs_email, .header__top__contacs_address{
		font-size: 13px;
	}
}
@media (max-width: 689px){
	.footer_p1, .footer_p2, .footer_p3, .footer__logo_p, .footer__logo_p2{
		font-size: 18px;
	}
	.reviews__carousel{
		padding-left: 0px;
    	padding-right: 0px;
	}

}
@media (max-width: 650px){
	.price__h4{
		font-size: 20PX;
	}
}
@media (max-width: 642px){
	.main__items_item:nth-child(1), .main__items_item:nth-child(2), .main__items_item:nth-child(3), .main__items_item:nth-child(4), .main__items_item:nth-child(5){
		margin-bottom: 60px;
	}
	main{
		padding-bottom: 50px;
	}
}
@media (max-width: 638px){
	.reviews__carousel {
    padding-left: 15px;
    padding-right: 15px;
}
@media (max-width: 629px){
	.footer_items{
		display: block;
	}
	.footer_item:first-child h5{
		text-align: center;
	}
	h1{
		margin-top: 74px;
	}
	.header__nav_li + .header__nav_li {
		margin-left: 15px;
	}
	form{
		max-width: 350px;
		margin: 0 auto;
	}
	.foter__right{
		max-width: 350px;
		margin: 0 auto;
	}
	.header__nav{
		display: none;
	}
	.price__h4{
		text-align: center;
	}
}
@media (max-width: 629px){
	.header__top{
		flex-direction: column;
	}
	.header__top__logo{
		display: flex;
		justify-content: center;
	}
	.header__top__contacs{
		max-width: 198px;
    	margin: 0 auto;
	}
	.header__top__logo{
		padding-top: 20px;
	}
	#slider1 .slick-arrow {
		top: 45%;
	}
	.gallery__h3{
		margin-bottom: 40px;
	}
	.reviews__h4{
		margin-bottom: 40px;
	}
}
@media (max-width: 461px){
	h1{
		font-size: 25px;
	}
}
@media (max-width: 461px){
	.header__title_p{
		font-size: 16px;
	}
	.header__btn{
		padding-bottom: 75px;
	}
}
@media (max-width: 385px){
	td:nth-child(odd) {
    padding-left: 5px;
    font-size: 13px;
	}
	td:nth-child(even) {
    padding-left: 5px;
    font-size: 13px;
	}
	.reviews__img{
		max-width: 250px;
    	height: auto;
	}
	.footer_input, textarea{
		width: 100%;
	}
}

/*@media (max-width: 450px) { 
	header{
		height: 500px;
	}
	.nav{
		display: block;
	}
	.btn{
		display: none;
	}
	h1{
		font-size: 30px;
		line-height: 45px;
	}
	ul{
		display: block;
		text-align: center;
		margin-top: 25px;
	}
	li + li{
		margin: 0;
	}
	.block_logo{
		display: flex;
		justify-content: center;
	}
	.header_middle{
		margin-top: 30px;
	}
	h2{
		font-size: 26px;
	}
	.header_botton{
		display: block;
	}
	.header_botton_sub{
		margin: 0 auto;
	}
	.blockh2{
		margin-top: 150px;
	}
	.block2_sub{
		display: block;
		margin-top: 60px;
	}
	.block2_sub_text{
		display: block;
	}
	.block2__block_btn{
		margin-top: 30px;
		display: flex;
		justify-content: center;
	}
	.block2_sub_text_h3{
		text-align: center;
		font-size: 38px;
	}
	.block2_sub_text_p{
		text-align: center;
		font-size: 16px;

	}
	.block6{
		padding-bottom: 75px;
	}
	.block6_h5{
		margin-top: 75px;
	}
	.block6_sub_p{
		padding: 0 20px;
	}
	.block6_sub_pnone{
		padding: 0 20px;
	}
	.block6_sub_h5{
		text-align: center;
	}
	.block7_sub h5{
		padding-top: 50px;
		margin-bottom: 30px;
	}
	.block7_sub2 {
		display: flex;
		flex-direction: column;
		padding-bottom: 50px;
	}
	.block7_sub2 img{
		align-self: center;
	}
	.block7_sub2_img + .block7_sub2_img{
	margin-left: 0px;
}
	.blokc8_h5{
		margin-top: 75px;
		margin-bottom: 35px;
	}
	.blokc8_sub_p {
		margin-bottom: 75px;
    	margin-top: 35px;
    	text-align: center;
	}
	.block10_sub1_h5{
		font-size: 38px;
	}
	.block10_sub1_p{
		font-size: 18px;
	}
	.block10{
		padding-bottom: 20px;
	}
	.block10_sub1_h5{
		text-align: center;
		margin-bottom: 20px;
	}
	.block10_sub1_p{
		text-align: center;
	}
	.block10_sub2{
		display: flex;
		justify-content: center;
	}
	.block10_sub{
		display: block;
	}

	.block1_sub + .block1_sub{
		margin-left: 0;
	}
	.block5 img{
		width: 100%;
	}
	.block11_h6{
		font-size: 28px;
	}
	.block11_sub_n{
		margin: 0 auto;
		margin-top: 30px;
	}
	.block11_sub_n_p{
		margin-bottom: 17px;
	}
	.block11_sub_n_img_last{
		margin-bottom: 15px
	}
	.block11_sub{
		display: block;
		margin-top: 20px;
	}
	.block11_sub_n{
	}
 }
 @media (max-width: 1225px){
	.block2_sub{
		justify-content: space-evenly;
	}
	.nav{
		justify-content: space-around;
	}
	.block12{
		padding-left: 30px;
		padding-right: 30px;
	}
 }
@media (min-width: 500px) and (max-width: 800px) {
	.block2_sub{
		display: block;
	}
	.block2_sub_text{
		text-align: center;
	}
	.block2__block_btn{
		display: flex;
		justify-content: center;
		margin-top: 50px;
	}
	.block10_sub{
		display: block;
	}
	.block10_sub1_h5{
		text-align: center;
	}
	.block10_sub1_p{
		text-align: center;
	}
	.block10_sub_btn{
		margin-left: 50%;
		transform: translateX(-50%);
	}
	.block10_sub2{
		padding-bottom: 50px;
	}

}
@media (max-width: 715px){
	.block1_sub + .block1_sub{
	margin-left: 0px;
	}
}
*/